

.card {
   
    box-sizing: border-box;

    position: absolute;
    width: 277px;
    height: 127px;
    left: 22px;
    top: 394px;
    
    background: #666666;
    border: 1px solid #5F5E5E;
    border-radius: 16px;
}